#
# Copyright (c) 2020 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: Apache-2.0
#

menuconfig FLASH_STREAM_WRITE
	bool "Flash stream Write"
	select FLASH_PAGE_LAYOUT
	help
	  Enable support of flash stream writes

if FLASH_STREAM_WRITE
config FSW_ERASE
	bool "Perform erase operations"
	help
	  If disabled an external actor must erase the flash area being written
	  to prior to invoking 'fsw_write'.

module = FSW
module-str = flash stream write
source "subsys/logging/Kconfig.template.log_config"

endif # FLASH_STREAM_WRITE
